/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.buttonContainer{
  position:relative;
  left:20%;
}

/* Style the buttons that are used to open the tab content */
.button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  color:black;
  text-decoration:none;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.button.active {
  background-color: #ccc;
}